name: Release

on:
  pull_request:
    types: [closed]
    branches:
      - master
  workflow_dispatch:

jobs:
  release-and-publish:
    name: Release and publish to NPM registry
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: 'master'
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://registry.npmjs.org'
      - name: Install NPM dependencies
        run: npm ci
      - name: Release and publish to NPM registry
        env:
          NPM_LOGIN_TOKEN: ${{ secrets.NPM_LOGIN_TOKEN }}
          SUPERCHARGE_BOT_DEPLOY_KEY: ${{ secrets.SUPERCHARGE_BOT_DEPLOY_KEY }}
        run: ./release.sh
